.main-content {
	position: relative;
	background-color: var(--content-bg-color);
	border-radius: 8px;
	padding: 2.5em 3.5em;

	& > h5:first-child {
		opacity: .6;
	}

	@media (max-width: 600px) {
		margin-bottom: 1em;
		padding: .75rem 1.5rem;
		&:has(> h5:first-child) {
			margin-top: calc(var(--fs) * 2.7);
		}
		& > h5:first-child {
			position: absolute;
			bottom: 100%;
			font-size: var(--fs-x-sm);
			margin-bottom: calc(var(--fs) / 2);
		}
	}
	@media (max-width: 500px) {
		padding: .75rem 1rem;
	}

	@media (min-width: 600px) {
		margin-bottom: calc(var(--fs) * 2);
		& > h5:first-child {
			float: right;
			font-weight: bold;
		}
	}
}

.icon-btn {
	box-sizing: content-box;
	padding: .5em;
	margin: -.5em;
	width: 1em;
	height: 1em;
	svg {
		font-size: inherit;
		width: 1em;
		height: 1em;
	}
}

ul.txt-list {
	&:not(:last-child) {
		margin-bottom: var(--fs);
	}
	li {
		display: flex;
		align-items: flex-start;
		line-height: 1.5;
		margin: 0;
		&:not(:last-child) {
			margin-bottom: calc(var(--fs) / 3);
		}
		&::before {
			content: '';
			flex-shrink: 0;
			display: block;
			width: calc(var(--fs) / 3);
			height: calc(var(--fs) / 3);
			margin-top: calc(var(--fs) * 0.7);
			margin-right: calc(var(--fs) / 2);
			background-color: currentColor;
			opacity: .5;
		}
	}
}

a:not(.reset) {
	color: var(--link-color);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
a.icon-btn {
	color: inherit;
	&.disabled {
		opacity: .5;
		cursor: not-allowed;
	}
}

.en-font {
	font-family: 'Comic Sans MS';
}
