html {
	--bg-color: 255,255,255;
	--font-color: 0,0,0;
	--content-bg-color: rgb(var(--bg-color));
	--link-color: #1a0dab;
	--star-color: #eac54f;

	--fs: 16px;
	--fs-sm: 14px;
	--fs-x-sm: 12px;
	--fs-lg: 20px;
	--fs-xl: 26px;

	background-color: #f6f6f6;
	color: rgb(var(--font-color));
	font-size: var(--fs);
}

@media (prefers-color-scheme: dark) {
	html {
		--bg-color: 0,0,0;
		--font-color: 255,255,255;
		--content-bg-color: #1e1e1e;
		--link-color: #99c3ff;

		background-color: rgb(var(--bg-color));
	}
}
