.main-content {
	background-color: var(--content-bg-color);
	border-radius: var(--br);
	padding: 12px 16px;
}

.icon-btn {
	box-sizing: content-box;
	padding: calc(var(--fs) / 2);
	width: var(--size);
	height: var(--size);
	cursor: pointer;
	svg {
		width: var(--size);
		height: var(--size);
	}
}
