.main-content {
	position: relative;
	background-color: var(--content-bg-color);
	border-radius: 8px;
	padding: calc(var(--fs) * 3) calc(var(--fs) * 4);

	& > h5:first-child {
		opacity: .6;
	}

	@media (max-width: 600px) {
		padding: var(--fs-sm) var(--fs);
		&:has(> h5:first-child) {
			margin-top: calc(var(--fs) * 2.7);
		}
		& > h5:first-child {
			position: absolute;
			bottom: 100%;
			font-size: var(--fs-x-sm);
			margin-bottom: calc(var(--fs) / 2);
		}
	}

	@media (min-width: 600px) {
		margin-top: calc(var(--fs) * 2);
		& > h5:first-child {
			float: right;
			font-weight: bold;
		}
	}
}

.icon-btn {
	box-sizing: content-box;
	padding: .5em;
	margin: -.5em;
	width: 1.5em;
	height: 1.5em;
	&:not([disabled]) {
		cursor: pointer;
	}
	&[disabled] {
		opacity: .5;
	}
	svg {
		font-size: 1.5em;
	}
}

ul.list {
	&:not(:last-child) {
		margin-bottom: var(--fs);
	}
	li {
		display: flex;
		align-items: flex-start;
		&::before {
			content: '';
			flex-shrink: 0;
			display: block;
			width: calc(var(--fs) / 3);
			height: calc(var(--fs) / 3);
			margin-top: calc(var(--fs) * 0.7);
			margin-right: calc(var(--fs) / 2);
			background-color: currentColor;
			opacity: .5;
		}
	}
}

.mr-english-svg {
	--size: 1em;
  width: var(--size);
  height: var(--size);
}

.txt-item {
	line-height: 1.5;
	margin: 0;
	&:not(:last-child) {
		margin-bottom: calc(var(--fs) / 3);
	}
}

a:not(.reset) {
	color: var(--link-color);
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.en-font {
	font-family: 'Comic Sans MS';
}
