html, body {
	margin: 0;
	padding: 0;
}

html {
	font-family: serif, Times New Roman, Times; /* 英文字体 */
}

* {
	box-sizing: border-box;
}

input, button {
	outline: none;
	border: none;
	padding: 0;
	background-color: transparent;

	color: inherit;
	font-size: inherit;
	font-family: inherit;

	display: block;
}
