html, body {
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Comic Sans MS'; /* 英文自动生效，中文用系统默认的 */
}

* {
	box-sizing: border-box;
}

input, button {
	outline: none;
	border: none;
	padding: 0;
	background-color: transparent;

	color: inherit;
	font-size: inherit;
	font-family: inherit;

	display: block;
}

h5, label {
	font-size: inherit;
	font-weight: 400;
	margin: 0;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
