html {
	--bg: 255,255,255;
	--text: 0,0,0;

	background-color: rgb(var(--bg));
	color: rgb(var(--text));
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: 0,0,0;
    --text: 255,255,255;
  }
}
