.page.home {
	.main-input {
		display: flex;
		align-items: center;
		gap: var(--fs);
		input {
			flex: 1;
			@media (min-width: 600px) {
				text-align: center;
				font-size: calc(var(--fs) * 2);
				height: calc(var(--fs) * 3);
			}
			@media (max-width: 600px) {
				font-size: var(--fs-lg);
				height: calc(var(--fs-lg) * 1.5);
			}
		}
		button {
			--size: calc(var(--fs) * 1.5);
			@media (max-width: 500px) {
				--size: var(--fs);
			}
		}
	}
	.lookup-result {
		article.basic {
			.pronunciation-list {
				margin-bottom: var(--fs);
				display: flex;
				gap: var(--fs);
			}
			.inflection-list {
				display: flex;
				flex-wrap: wrap;
				column-gap: var(--fs);
				label {
					font-size: var(--fs-sm);
					opacity: .6;	
					margin-right: .4em;
				}
			}
		}
		article.e2e {
			.entry {
				&:not(:last-child) {
					margin-bottom: var(--fs);
				}
				h5.fl {
					opacity: .8;
					margin-bottom: calc(var(--fs) / 2);
					line-height: 1.2;
					font-family: serif, Times New Roman;
				}
			}
		}
		article.other-dict {
			p {
				a {
					margin-right: var(--fs);
					font-size: var(--fs-sm);
				}
			}
		}
	}
}
